---
BasedOnStyle: Microsoft
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AccessModifierOffset: '-4'
AlignTrailingComments: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
TabWidth: '4'
UseTab: ForIndentation
PointerAlignment: Left
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
Standard: c++20
AllowShortFunctionsOnASingleLine: 'InlineOnly'
...
